<div>
  <%= link_to "New Concert", new_concert_path %> |
  <%= link_to "New Artist", new_artist_path %> |
  <%= link_to "New Venue", new_venue_path %>
</div><br/>

<h1>Concerts</h1>

<ul>
  <% @concerts.each do |concert| %>
    <ul>
      <li>Artist: <%= concert.artist.name %></li>
      <li>Venue: <%= concert.venue.name %></li>
      <li>All Ages: <%= concert.venue.all_ages ? 'Yes' : 'No' %></li>
      <li>Date: <%= concert.concert_date %></li>
    </ul>
    <hr/>
  <% end %>
</ul>
